.env
.env.local
.env.*.local
**/.env
**/.env.local

firmware/include/config.h
firmware/.pio/

node_modules/
.next/
out/
build/
dist/

.DS_Store
.vscode/
*.log

.superpowers/

EE284A_Final_Project.pdf
EE284A_Final_Project_Proposal__1_.pdf
EE284A_Final_Report.pdf
